header{
    height: 150px;
    background: #404040;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
button{
    outline: none;
}
body{
    display: flex;
    justify-content: center;
}
.body{
    width: 1000px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: #404040 5px solid;
    background-color: #404040;
    -webkit-box-shadow: 0px 4px 100px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 100px 10px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 100px 10px rgba(0,0,0,0.3);
}
.logo{
    height: 150px;
    position: absolute;
    left: 40px;
    padding: 0 22px 0px 0px;
}
.amb-img{
    height: 300px;
}
.content-1{
    height: 600px;
    background-color:#B24A3B;
    color: #F4EAD2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content-3{
    background-color: #F4EAD2;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content-2{
    width: 500px;
    font-size: 36px;
    text-shadow: 2px 2px #000000;
}
.content-2 h1{
    margin-left: 40px;
}
.content-2 li{
    margin-bottom: 18px ;
    font-size: 30px;
    text-align: left;
}
.btn-1{
    color: #222222;
    background-color: #fff;
    border: none;
    font-size: 30px;
    outline: none;
    border: #222222 2px solid;
}
.btn-1{
    margin-left: 50px;
}
button:hover{
    cursor: pointer;
    background-color: #f6f6f6;
}
button:target{
    background-color: #f0f0f0;
}
.btn-container{
    position: relative;
}
.btn-3{
    width: 200px;
    height: 70px;
    position: absolute;
    right: 100px;
    top: 45px;
    background-color: #C95444;
    color: #F4EAD2;
    font-weight: bold;
    font-size: 30px;
    border: #A54338 2px solid;
    border-radius: 7px;
    
    -webkit-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
}
.btn-3:hover{
    background-color: #B24A3B;
}
.content-4{
    margin-left: 100px;
    width: 350px;
    color: #404040;
    text-shadow: 2px 2px #ffffff;
}
.heading-text{
    font-size: 40px;
}
.phone-container{
    position: relative;
    height: 400px;
    width: 200px;
}
.phn-img{
    height: 400px;
    position: absolute;
}
.logo-2{
    width: 150px;
    position: absolute;
    top: 100px;
    left: 33px;
}
.apple-img{
    width: 30px;
    position: absolute;
    left: 7px;
    top: 3px;
}
.phn-back{
    width: 164px;
    height: 291px;
    left: 34px;
    top: 61px;
    background-color: #222222;
    position: absolute;
}
.contact{
    height: 200px;
    font-size: 30px;
}
a:hover{
    cursor: pointer;
}
a{
    color: #F4EAD2;
    text-shadow: 2px 2px #000000;
}